* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #fff;
    margin: 0;
    padding-top: 70px;
    height: 100%;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    position: fixed;
    width: 100%;
}

section {
    min-height: 60vh;
    text-align: center;
    padding: 0px 10%;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(3, 3, 63, 0.9);
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ff99ff;
    transition: 0.3s;
    font-size: 1.01rem;
}

.left {
    font-size: 1.6rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.firstSection>div {
    width: 30%;
}

.rightSection img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.leftSection {
    font-size: 2.5rem;
}

.red {
    color: #ff4dff;
}

#element {
    color: #ab00ff;
}

.about,
.skills,
.projects,
.contact {
    margin-top: 50px;
}

.skills-list {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    border-radius: 20px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 70%;
    border-radius: 10px;
}

.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    background: linear-gradient(45deg, #3b82f6, #06b6d4);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.project-btn:hover {
    transform: scale(1.05);
    background: #729bdb;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1e293b;
}



@media screen and (max-width: 700px) {

    body {
        overflow-x: hidden;
    }

    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: rgb(3, 3, 63);
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .firstSection {
        flex-direction: column-reverse;
        text-align: center;
    }

    .firstSection>div {
        width: 90%;
    }

    .rightSection img {
        width: 70%;
        margin-bottom: 20px;
    }

    .leftSection {
        font-size: 1.6rem;
    }

    .skills-list {
        flex-wrap: wrap;
        gap: 10px;
    }

    .skill {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

}